*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e272e;
}

img{
    width: 100%;
    display: block;
}

.main_container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 792px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px
}